* {
  font-family: 'Karla', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

html, body, div, ul, li, img, section, figure, button, a, table, input, span, i {
  margin: 0;
  padding: 0;
  border: 0;

  font-family: 'Poppins', sans-serif;
  text-align: inherit;
  text-decoration: none;

  color: inherit;
  background: transparent;
}

h1, h2, h3, h4 {
  color: #222;
  padding: 0 10px;
}

html {
  position: relative;
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  min-height: 100%;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

ul {
  list-style: none;
}

img {
  display: block;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

input {
  display: block;
  background: transparent;
}

input:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

input {
  border-radius: 0;
  -webkit-appearance: none;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  position: relative;
  margin: 0 200px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  justify-content: flex-start;
  flex: 1;
  z-index: 10000;
  background: rgba(255, 255, 255, 0.95);
  transition: all 400ms;
}

.modal.hide {
  opacity: 0;
  z-index: -1;
}

.modal.transitioning {
  opacity: 0;
}

.modal-box {
  padding: 0;
  width: 100%;
  margin: 0 200px;
  max-width: 500px;
  flex: 1;
  position: relative;
}

.modal-box h2 {
  margin: 0;
  padding: 0;
}

.modal-box input:not(:last-child) {
  font-size: 16px;
  padding: 5px;
  margin-top: 20px;
  border-bottom: 1px solid #777;
  width: 100%;
}

.modal-box textarea {
  height: 250px;
  min-height: 250px;
  margin-top: 20px;
  max-height: 250px;
  max-width: 100%;
  background: transparent;
  font-size: 16px;
  border: 1px solid #777;
  padding: 5px;
  margin-bottom: 20px;
  width: 100%;
}

.modal-box textarea:focus {
  outline: none;
}

#close {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

#close::before, #close::after {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  content: "";
  width: 1px;
  height: 40px;
  background: #333;
  transform: translateX(-15px) rotate(45deg);
}

#close::after {
  transform: translateX(-15px) rotate(-45deg);
}

.header {
  justify-content: space-between;
}

h1 {
  font-weight: 500;
  font-size: 32px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  transform: rotate(-90deg) translate(-192px, -200px);
  position: absolute;
}

h2 {
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  /* margin-top: 100px; */
}

h3 {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 0;
  letter-spacing: 0.2em;
  margin-top: 60px;
}

h4 {
  font-size: 24px;
}

p {
  margin-top: 10px;
  color: #777;
  padding: 0 10px;
  line-height: 20px;
}

.header a {
  padding: 5px 0px;
  color: #222;
  font-weight: 500;
  border-bottom: 1px solid #777;
  position: absolute;
  top: 75px;
  right: 0;
  letter-spacing: 0.1em;
}

.dark-button {
  margin-left: 10px;
  padding: 5px 0px;
  font-size: 16px;
  color: #333;
  border-bottom: 1px solid #777;
  font-weight: 500;
  letter-spacing: 0.1em;
}

p a {
  font-weight: 700;
}

.screenshots-wrap {
  width: 100%;
  max-width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  position: relative;
  padding-right: 100px;
}

.gradient {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  position: absolute;
  width: 50px;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 100;
}

.screenshot {
  display: inline-block;
  width: 225px;
  height: 400px;
  margin: 10px;
  border-radius: 7px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  transition: all 300ms;
}

.udax .screenshot {
  background-color: rgb(6, 8, 12);
}

.screenshot.wide {
  width: 700px;
  height: 400px;
}

.screenshot.movie {
  width: 225px;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.screenshot.movie video {
  position: absolute;
  top: 0;
  left: 0;
  height: 105%;
  width: auto;
  transform: translateX(-35%);
}

.screenshot.td {
  background-position: top left;
}

.screenshot.keys {
  background-size: 600px;
  background-position: center;
}

.screenshot:hover {
  opacity: 0.8;
}

section {
  margin-top: 80px;
}

.about p {
  margin: 10px 0;
}

.about p a {
  /* text-decoration: underline; */
  border-bottom: 1px solid #777;
  font-weight: 500;
}

#resume {
  padding-bottom: 200px;
}

h1 {
  transition: background 2s;
}

.header > h1 {
  color: #313131;
  padding: 5px;
  border-radius: 5px;
  font-size: 32px;
}


@media (max-width: 1100px) {
  .page {
    margin: 0 120px;
  }

  .modal-box {
    margin: 0 120px;
  }
}

@media (max-width: 900px) {
  .page {
    margin: 0 30px;
  }

  .modal-box {
    margin: 0 30px;
  }

  .header > h1 {
    font-size: 20px;
    transform: none;
    position: relative;
  }

  .header a {
    padding: 5px 0px;
    position: relative;
    top: 0;
    right: 0;
  }
}
